.books-header{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/books.png);
    background-size: cover;
}

.books-header::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.books-header svg{
    background-color: white;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.books-header .overlay{
    color: white;
    text-align: center;
    z-index: 99;
    position: relative;
    margin: 0 30px;
    top: 10%;
}

.books-header .overlay :first-child{
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 40px;
    max-width: 750px;
    margin-bottom: 10px;
}

.books-header .overlay .txt {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
}

.books-search{
    margin: 30px 150px;
    border: 1px solid #1E8449;
    width: 30%;
    align-items: center;
    display: flex;
}

.books-search input{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.books-search svg{
    background-color: #1E8449;
    padding: 10px 15px;
    color: white;
}

.books-search:focus-within{
    box-shadow: 0 0 3px #1E8449;
}

#bb{
    border-top: 1px solid #1E8449;
    padding-bottom: 50px;
    background-color: #F6F6F6;
}

.category{
    padding: 20px 150px 50px 150px;
    color: #F6F6F6;
}

.c-s{
    background-color: #af6530;
}

.i{
    background-color: #1E8449;
}

.s{
    background-color: goldenrod;
}

.category .head{
    font-size: 30px;
}

.category .txt{
    margin-bottom: 50px;
}

.category .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.category .grid .book{
    background-color: white;
    margin: 10px;
    padding: 2px;
    cursor: pointer;
}

.category .grid img{
    width: 100%;
    height: 250px;
}

.category .grid .title{
    color: black;
    padding: 5px;
    font-size: 25px;
}