.books-header{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/books.png);
    background-size: cover;
}

.books-header::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.books-header svg{
    background-color: white;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.books-header .overlay{
    color: white;
    text-align: center;
    z-index: 99;
    position: relative;
    margin: 0 30px;
    top: 10%;
}

.books-header .overlay :first-child{
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 40px;
    max-width: 750px;
    margin-bottom: 10px;
}

.books-header .overlay .txt {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
}