.footer-container{
    border-top: 1px solid lightgray;
}

.footer{
    margin: 30px 50px;
}

.footer .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
}

.footer h3{
    margin-top: -5px;
    font-weight: lighter;
    color: black;
}

.footer .logo-app-name{
    display: flex;
    color: #1E8449;
    align-items: center;
    margin-bottom: 10px;
}

.footer .app-name :first-child{
    font-size: 23px;
}

.footer .info{
    margin: 20px 0;
    color: #555555;
}

.footer .email{
    color: #555555;
    font-size: 14px;
}

.footer .email svg{
    margin-right: 5px;
}

.footer .quick-links, .footer .user-service{
    width: fit-content;
    margin: 0 auto;
    color: #555555;
}

.footer a{
    display: block;
    margin-top: 10px;
    color: #555555;
    transition: 0.3s ease-in-out;
}

.footer a:hover{
    color: black;
}

.footer .handles-updates{
    padding: 30px 0;
    display: flex;
    width: 100%;
}

.footer h4{
    font-weight: lighter;
    margin: 0;
}

.footer .handles{
    width: 100%;
}

.footer .handles div, .footer .updates div{
    display: flex;
}

.footer .handles svg{
    border: lightgray 1px solid;
    padding: 10px;
    margin-right: 10px;
    color: #555555;
    transition: 0.3s ease-in-out;
}

.footer .handles svg:hover{
    color: black;
}

.footer .updates h4{
    text-align: right;
}

.footer .updates .input-btn{
    margin-top: 20px;
}

.footer .updates input{
    border: 1px solid lightgray;
    outline: none;
    padding: 10px;
    margin-right: 10px;
}

.footer .updates input:focus{
    border: 1px solid gray;
}

.footer .updates button{
    border: none;
    background-color: #1E8449;
    color: white;
    transition: 0.3s ease-in-out;
    padding: 0 20px;
    border: 0.5px solid #1E8449;
}

.footer .updates button:hover{
    background-color: white;
    color: #1E8449;
}

.footer .base{
    display: flex;
    margin-top: 20px;
    color: #555555;
    font-size: 14px;
    align-items: baseline;
}

.footer .base #copy{
    width: 100%;
}

.footer .base #links{
    display: flex;
}

.footer .base #links a{
    white-space: nowrap;
    margin-left: 20px;
}


/* FOR MOBILE */

@media screen and (max-width: 480px) {

    .footer{
        margin: 50px 15px;
    }

    .footer .grid{
        display: block;
        padding-bottom: 20px;
    }

    .footer h3{
        margin: 20px 0;
    }

    .footer .quick-links, .footer .customer-service{
        width: auto;
        margin: 50px 0 20px 0;
    }

    .footer a{
        width: fit-content;
    }

    .footer .handles-updates{
        padding: 30px 0;
        display: block;
    }
    
    .footer .handles{
        width: fit-content;
    }

    .footer .updates{
        margin-top: 20px;
    }

    .footer .updates h4{
        text-align: left;
    }

    .footer .updates .input-btn{
        margin-top: 10px;
    }

    .footer .updates input{
        width: 100%;
    }

    .footer .base{
        display: block;
    }

    .footer .base #copy{
        margin-bottom: 10px;
    }

    .footer .base #links a{
        margin-left: 0;
        margin-right: 20px;
    }
}