.learn{
    height: 100vh;
    position: relative;
    margin-bottom: 50px;
    top: 120px;
    margin: 0px 150px;
    margin-bottom: 50px;
    text-align: center;
}

.learn #head{
    font-size: 40px;
    color: #1E8449;
    margin-bottom: 20px;
    font-family: "BBH Sans Bartle", sans-serif;
}

.learn .txt{
    font-size: 18px;
    margin-bottom: 50px;
}

.learn .collection .head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.learn .collection .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.learn .collection .grid div img{
    width: 60%;
    background-color: #F6F6F6;
    padding: 20px ;
    cursor: pointer;
}

.learn .collection .grid #name{
    font-size: 25px;
}