.sign-page{
    position: relative;
    top: 100px;
}
.gogreen-txt{
    font-family: "Kaushan Script", cursive;
    font-size: 70px;
    color: #1E8449;
    cursor: pointer;
}
.signup-page, .login-page{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 10px 30px #1E8449;
    padding: 20px;
}
.signup-page .txt, .login-page .txt{
    margin: 10px 0px 20px 0px;
    font-size: 30px;
    color: black;
}
.Link{
    text-decoration: none;
    color: #1E8449;
    font-weight: bold;
}
.Link :hover {
    text-decoration: underline;
    color: #00df82;
}
.hover :hover{
    background-color: #00df82;
}
.bb{
    width: 300px;
    text-align: left;
    border-bottom: 1px solid #03624c;
}
.bb input{
    width: 300px;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px;
    border: none;
    outline: none;
}
.show-password{
    display: flex;
    margin-top: 5px;
}
.show-password input{
    cursor: pointer;
    margin-top: -1px;
}
.signup-btn button, .login-btn button{
    width: 100%;
    border: none;
    margin-top: 20px;
    background-color: #1E8449;
    padding: 5px 0px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: 0.3s ease-in-out;
}

.or-sign{
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
}

.or-sign :first-child{
    background-color: lightgray;
    height: 1px;
    margin-top: 10px;
}

.or-sign :nth-child(2){
    white-space: nowrap;
}

.or-sign :nth-child(3){
    background-color: lightgray;
    height: 1px;
    margin-top: 10px;
}

.google-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    background-color: #F6F6F6;
    border: 0.5px solid #F6F6F6;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.google-btn:hover{
    border: 0.5px solid lightgray;
}

.sign-othwewise{
    margin-top: 25px;
    font-size: 14.5px;
}
.sign-othwewise span{
    cursor: pointer;
}