.action-landing{
    height: 550px;
    padding-top: 50px;
    position: relative;
}

.action-landing img{
    height: 100%;
    width: 100%;
}

.action-landing::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.39);
    z-index: 1;
}

.action-landing .head{
    color: #1E8449;
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 40px;
    width: 60%;
    position: absolute;
    background-color: white;
    /* background: linear-gradient(to right, #1E8449, #00df82); */
    bottom: -150px;
    z-index: 99;
    padding: 50px 50px 50px 10px;
    border-radius: 0 100px 0 0;
}

#actions{
    background: linear-gradient(to right, #ddfef0, white);
}

#actions .head{
    padding: 20px 0 0 20px;
    font-size: 30px;
}

#actions .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    /* background-color: white; */
    gap: 20px;
}

#action{
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#action:hover{
    transform: translateY(-10px);
}

#action .img{
    overflow: hidden;
}

#action img{
    width: 100%;
    transition: 0.3s ease-in-out;
}

#action:hover img{
    transform: scale(1.05);
}

#action .txt{
    font-size: 18px;
    padding: 5px 10px;
}